.search input {
    width: 100%;
    display: block;
    margin: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0 0 5px 0;
}

.search input::placeholder {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.5;
}